CMakeCache.txt
CMakeFiles
Makefile
CTestTestfile.cmake
cmake_install.cmake
.sass-cache/
.DS_Store
Gemfile
Gemfile.lock
_site/
lib
*.pyc
src/include/cMakeHeader.h
subdirectories.txt
tags
.*.*.swp
build
