//
// clique_template.params
//  - template input parameters for learning Cat 3way clique kernels 
//

HyPerCol "column" = {
   nx = 360;   // until we get going with images
   ny = 256;
   dt = 1.0;
   //randomSeed = 1;  // if not set here,  clock time is used to generate seed
   $$$_numSteps_$$$
   $$$_outputPath_$$$
   progressStep = 20;
   filenamesContainLayerNames = false;
   $$$_checkpointRead_$$$
   $$$_checkpointReadDir_$$$
   $$$_checkpointReadDirIndex_$$$
   checkpointWrite = true;
   $$$_checkpointWriteDir_$$$
   checkpointWriteStepInterval = 5;
   deleteOlderCheckpoints = true;
   $$$_printParamsFilename_$$$
};

//
// layers
//

Movie "Image" = {
    $$$_imageListPath_$$$
    restart = 0;
    nxScale = 1;
    nyScale = 1;
    nf = 1;
    marginWidth = 0;
    writeStep = -1;
    mirrorBCflag = 0;
    spikingFlag = 0;
    writeNonspikingActivity = 0;
    writeImages = 0;
    displayPeriod = 1;
    $$$_image_start_frame_index_$$$
    $$$_image_skip_frame_index_$$$
    echoFramePathnameFlag = false;
    useParamsImage = true;
    jitterFlag = 0;
    randomMovie = 0;
    offsetX = 0;
    offsetY = 0;
};


Movie "Mask" = {
    $$$_maskListPath_$$$
    restart = 0;
    nxScale = 1;
    nyScale = 1;
    nf = 1;
    marginWidth = 0;
    writeStep = -1;
    mirrorBCflag = 0;
    spikingFlag = 0;
    writeNonspikingActivity = 0;
    writeImages = 0;
    displayPeriod = 1;
    $$$_mask_start_frame_index_$$$
    $$$_mask_skip_frame_index_$$$
    echoFramePathnameFlag = false;
    useParamsImage = true;
    jitterFlag = 0;
    randomMovie = 0;
    offsetX = 0;
    offsetY = 0;
};


Retina "Retina" = {
    restart = 0;
    nxScale = 1;
    nyScale = 1;
    nf = 1;
    marginWidth = 3;
    writeStep = -1.0;
    mirrorBCflag = 1;
    spikingFlag = 0;
    writeNonspikingActivity = 0;

    poissonEdgeProb = 1;
    poissonBlankProb = 0;
    burstFreq = 1;
    burstDuration = 1;

    beginStim = 1;
    $$$_endStim_$$$
};



// edge detection
ANNLayer "L1" = {
    restart = 0;
    nxScale = 1;
    nyScale = 1;
    nf = 8;
    marginWidth = 0;
    writeStep = -1.0;
    mirrorBCflag = 1;
    spikingFlag = 0;
    writeNonspikingActivity = 0;

    VThresh = 0.5;
    VMax = 1.0;
    VMin = 0.0;
    InitVType = "ConstantV";
    valueV = 0;
};

// downsample edges
ANNLayer "L1Pool1X1" = {
    restart = 0;
    nxScale = 1.0;
    nyScale = 1.0;
    nf = 8;
    marginWidth = 16;
    writeStep = -1.0;
    mirrorBCflag = 1;
    spikingFlag = 0;
    writeNonspikingActivity = 0;

    VThresh = 0.5;
    VMax = 1.0;
    VMin = 0.0;
    //Vgain = 1.0;
    //Voffset = 0.0;
    InitVType = "ConstantV";
    valueV = 0;
};



CliqueLayer "L1Clique" = {
    restart = 0;
    nxScale = 1;
    nyScale = 1;
    nf = 8;
    marginWidth = 16;
    writeStep = -1.0;
    mirrorBCflag = 1;
    spikingFlag = 0;
    writeNonspikingActivity = 0;

    VThresh = 0.5;
    VMax = 1.0;
    VMin = 0.0;
    $$$_VgainL1Clique_$$$
    Voffset = 0.0;
    InitVType = "ConstantV";
    valueV = 0;
};


// downsample edges
ANNLayer "L2Pool2X2" = {
    restart = 0;
    nxScale = 0.5;
    nyScale = 0.5;
    nf = 8;
    marginWidth = 16;
    writeStep = -1.0;
    mirrorBCflag = 1;
    spikingFlag = 0;
    writeNonspikingActivity = 0;

    VThresh = 0.5;
    VMax = 1.0;
    VMin = 0.0;
    //Vgain = 1.0;
    //Voffset = 0.0;
    InitVType = "ConstantV";
    valueV = 0;
};



// masked edges
CliqueLayer "L2Post" = {
    restart = 0;
    nxScale = 0.5;
    nyScale = 0.5;
    nf = 8;
    marginWidth = 16;
    writeStep = -1.0;
    mirrorBCflag = 1;
    spikingFlag = 0;
    writeNonspikingActivity = 0;

    VThresh = 0.5;
    VMax = 1.0;
    VMin = 0.0;
    Vgain = 1.0;
    Voffset = 0.0;
    InitVType = "ConstantV";
    valueV = 0;
};





//  connections: 

KernelConn "MovieToRetina" = {
    preLayerName = "Image";
    postLayerName = "Retina";
    channelCode = 0;
    nxp = 1;
    nyp = 1;
    nfp = 1;
    numAxonalArbors = 1;
    writeStep = -1;
    initFromLastFlag = 0;
    
    weightInitType = "UniformWeight";
    weightInit = 4.0;

    normalize = 0;
       
    writeCompressedWeights = 0.0;
    plasticityFlag = 0;
    stochasticReleaseFlag = false;
    weightUpdatePeriod = -1.0;

    delay = 0;     
};



// Retina connections

KernelConn "RetinaToL1" = {
   preLayerName = "Retina";
   postLayerName = "L1";
   channelCode = 0;
   nxp = 7; 
   nyp = 7; 
   nfp = 8;
   numAxonalArbors = 1;
   initFromLastFlag = 0;  // 1;  // restart
   writeStep = -1;
   
   weightInitType = "Gauss2DWeight";
   aspect = 7;
   sigma = 7;
   rMax  = 7;
   rMin = 0;
   deltaThetaMax = 6.2832;
   thetaMax = 1;
   bowtieFlag = 0;
   numFlanks = 1;
   flankShift = 0;
   rotate = 1;
       
   strength = 25.0;  
   normalize = 1.0;
   normalize_zero_offset = 0.0;
   normalize_max = 0.0;
   normalize_cutoff = 0;
   symmetrizeWeights = 0;

   shrinkPatches = false;
   writeCompressedWeights = 0.0;
   plasticityFlag = 0;
   stochasticReleaseFlag = false;
    
   delay = 0;
};



KernelConn "RetinaToL1Inh" = {
   preLayerName = "Retina";
   postLayerName = "L1";
   channelCode = 1;
   nxp = 7; 
   nyp = 7; 
   nfp = 8;
   numAxonalArbors = 1;
   initFromLastFlag = 0;  // 1;  // restart
   writeStep = -1;
   
   weightInitType = "Gauss2DWeight";
   aspect = 7;
   sigma = 7;
   rMax  = 7;
   rMin = 0;
   deltaThetaMax = 6.2832;
   thetaMax = 1;
   bowtieFlag = 0;
   numFlanks = 2;
   flankShift = 1.41;
   rotate = 1;
       
   strength = 25.0;  
   normalize = 1.0;
   normalize_zero_offset = 0.0;
   normalize_max = 0.0;
   normalize_cutoff = 0;
   symmetrizeWeights = 0;
   
   shrinkPatches = false;
   writeCompressedWeights = 0.0;
   plasticityFlag = 0;
   stochasticReleaseFlag = false;

   delay = 0;
};


// downsample/pooling 
KernelConn "L1ToL1Pool1X1" = {
   preLayerName = "L1";
   postLayerName = "L1Pool1X1";
   channelCode = 0;
   nxp = 1; 
   nyp = 1; 
   nfp = 8;
   numAxonalArbors = 1;
   initFromLastFlag = 0;  // 1;  // restart
   writeStep = -1;
   
   weightInitType = "Gauss2DWeight";
   aspect = 1.1;
   sigma = 1;
   rMax  = 1;
   rMin = 0;
   deltaThetaMax = 0.19635; // 3.14 / 16
   thetaMax = 1;
   bowtieFlag = 0;
   numFlanks = 1;
   flankShift = 0;
   rotate = 1;
       
   strength = 1.0; 
   normalize = 1.0;
   normalize_zero_offset = 0.0;
   normalize_max = 0.0;
   normalize_cutoff = 0;
   symmetrizeWeights = 0;

   shrinkPatches = false;
   writeCompressedWeights = 0.0;
   plasticityFlag = 0;
   stochasticReleaseFlag = false;
    
   delay = 0;
};


// Clique connections

// L1 Clique

IdentConn "L1Pool1X1toL1CliqueVertical" = {
    preLayerName = "L1Pool1X1";
    postLayerName = "L1Clique";
    channelCode = 0;
    writeStep = -1;
    initFromLastFlag = 0;
    weightInitType = "IdentWeight";

    delay = 0;
};



SiblingConn "L1Pool1X1toL1CliqueTarget" = {
     preLayerName = "L1Pool1X1";
     postLayerName = "L1Clique";
     channelCode = 1;
     nxp = 33;
     nyp = 33;
     nfp = 8;
     numAxonalArbors = 8712;
     initFromLastFlag = 0;  // 1;  // restart
     writeStep = -1;
  
     weightInitType = "FileWeight";  
     combineWeightFiles = true; //false; // 
     numWeightFiles = 16;
     initWeightsFile = "/home/gkenyon/workspace-iHouse/SynthCog3/weights/CatVsNoCatDog/Test/CatVsNoCatDog_Test_cat_canny3way.weights"; //
     siblingConnName = "L1Pool1X1toL1CliqueDistractor";
     useListOfArborFiles = false;
     shrinkPatches = false;
     
     strength = 1.0;
     normalize = 1.0; //0.0; // 
     normalize_zero_offset = 0.0;
     normalize_max = 0.0;
     normalize_cutoff = 0;
     symmetrizeWeights = 0;
     normalize_arbors_individually = false;   
     
     writeCompressedWeights = 0.0;
     plasticityFlag = 0;
     //combine_dW_with_W_flag = false;
     selfFlag = true;
     shmget_flag = true;
     stochasticReleaseFlag = false;
  
     delay = 0; 
  };


//KernelConn "L1Pool1X1toL1CliqueTarget" = {
//   preLayerName = "L1Pool1X1";
//   postLayerName = "L1Clique";
//   channelCode = 1;
//   nxp = 33;
//   nyp = 33;
//   nfp = 8;
//   numAxonalArbors = 8712;
//   initFromLastFlag = 0;  // 1;  // restart
//   writeStep = -1;
//
//   weightInitType = "UniformWeight";
//   weightInit = 0.0;
//   shrinkPatches = false;
//   
//   normalize = 0.0; // 
//   symmetrizeWeights = 0;
//   
//   writeCompressedWeights = 0.0;
//   plasticityFlag = 0;
//   selfFlag = true;
//   shmget_flag = true;
//   stochasticReleaseFlag = false;
//
//   delay = 0; 
//};


SiblingConn "L1Pool1X1toL1CliqueDistractor" = {
     preLayerName = "L1Pool1X1";
     postLayerName = "L1Clique";
     channelCode = 1;
     nxp = 33;
     nyp = 33;
     nfp = 8;
     numAxonalArbors = 8712;
     initFromLastFlag = 0;  // 1;  // restart
     writeStep = -1;
  
     weightInitType = "FileWeight";  
     combineWeightFiles = true; //false; // 
     numWeightFiles = 16;
     initWeightsFile = "/home/gkenyon/workspace-iHouse/SynthCog3/weights/CatVsNoCatDog/Test/CatVsNoCatDog_Test_nocatdog_canny3way.weights"; //
     siblingConnName = "L1Pool1X1toL1CliqueTarget";
     useListOfArborFiles = false;
     shrinkPatches = false;
     
     strength = -1.0;
     normalize = 1.0; //0.0; // 
     normalize_zero_offset = 0.0;
     normalize_max = 0.0;
     normalize_cutoff = 0;
     symmetrizeWeights = 0;
     normalize_arbors_individually = false;   
     
     writeCompressedWeights = 0.0;
     plasticityFlag = 0;
     //combine_dW_with_W_flag = false;
     selfFlag = true;
     shmget_flag = true;
     stochasticReleaseFlag = false;
  
     delay = 0; 
  };


//KernelConn "L1Pool1X1toL1CliqueDistractor" = {
//   preLayerName = "L1Pool1X1";
//   postLayerName = "L1Clique";
//   channelCode = 1;
//   nxp = 33;
//   nyp = 33;
//   nfp = 8;
//   numAxonalArbors = 8712;
//   initFromLastFlag = 0;  // 1;  // restart
//   writeStep = -1;
//
//   weightInitType = "UniformWeight";
//   weightInit = 0.0;
//   shrinkPatches = false;
//   
//   normalize = 0.0; // 
//   symmetrizeWeights = 0;
//   
//   writeCompressedWeights = 0.0;
//   plasticityFlag = 0;
//   selfFlag = true;
//   shmget_flag = true;
//   stochasticReleaseFlag = false;
//
//   delay = 0; 
//};


// downsample/pooling 
KernelConn "L1CliqueToL2Pool2X2" = {
   preLayerName = "L1Clique";
   postLayerName = "L2Pool2X2";
   channelCode = 0;
   nxp = 1; 
   nyp = 1; 
   nfp = 8;
   numAxonalArbors = 1;
   initFromLastFlag = 0;  // 1;  // restart
   writeStep = -1;
   
   weightInitType = "Gauss2DWeight";
   aspect = 1.1;
   sigma = 1;
   rMax  = 1;
   rMin = 0;
   deltaThetaMax = 0.19635; // 3.14 / 16
   thetaMax = 1;
   bowtieFlag = 0;
   numFlanks = 1;
   flankShift = 0;
   rotate = 1;
       
   strength = 1.0; 
   normalize = 1.0;
   normalize_zero_offset = 0.0;
   normalize_max = 0.0;
   normalize_cutoff = 0;
   symmetrizeWeights = 0;

   shrinkPatches = false;
   writeCompressedWeights = 0.0;
   plasticityFlag = 0;
   stochasticReleaseFlag = false;
    
   delay = 0;
};




// Mask connections

// copy edge detections
IdentConn "L2Pool2X2ToL2PostVertical" = {
    preLayerName = "L2Pool2X2";
    postLayerName = "L2Post";
    channelCode = 0;
    writeStep = -1;
    initFromLastFlag = 0;
    weightInitType = "IdentWeight";

    delay = 0;
};

// mask non-amoeba edges
KernelConn "MasktoL2Post" = {
   preLayerName = "Mask";
   postLayerName = "L2Post";
   channelCode = 1;
   nxp = 1; 
   nyp = 1; 
   nfp = 8;
   numAxonalArbors = 1;
   initFromLastFlag = 0;  // 1;  // restart
   writeStep = -1;
   
   weightInitType = "Gauss2DWeight";
   aspect = 1;
   sigma = 1;
   rMax  = 1;
   rMin = 0;
       
   strength = 510.0; // (8 * 255 / 4) // require all pixels surrounding L2Post neuron to be active 
   normalize = 1.0;
   normalize_zero_offset = 0.0;
   normalize_max = 0.0;
   normalize_cutoff = 0;
   symmetrizeWeights = 0;

   shrinkPatches = false;
   writeCompressedWeights = 0.0;
   selfFlag = false;
   plasticityFlag = 0;
   stochasticReleaseFlag = false;
    
   delay = 5;
};





// Clique connections

//CliqueConn "L2Pool2X2toL2Post" = {
//   preLayerName = "L2Pool2X2";
//   postLayerName = "L2Post";
//   channelCode = 2;
//   nxp = 33;
//   nyp = 33;
//   nfp = 8;
//   cliqueSize = 2;
//   numAxonalArbors = 8712;
//   initFromLastFlag = 0;  // 1;  // restart
//   writeStep = -1;
//
//   weightInitType = "FileWeight";  
//   combineWeightFiles = true; //false; // 
//   $$$_numWeightFilesTarget_$$$
//   $$$_initWeightsFileL2Pool2X2toL2PostTarget_$$$ 
//   useListOfArborFiles = false;
//
//   normalize = 0.0;
//   symmetrizeWeights = 0;
//   
//   plasticityFlag = 1;
//   keepKernelsSynchronized = false; // true; 
//   combine_dW_with_W_flag = true; //false; // 
//   shrinkPatches = false;
//   writeCompressedWeights = 0.0;
//   stochasticReleaseFlag = false;
//   weightUpdatePeriod = 1.0;
//
//   delay = 1;    
//};


CliqueConn "L2Pool2X2toL2Post" = {
   preLayerName = "L2Pool2X2";
   postLayerName = "L2Post";
   channelCode = 2;
   nxp = 33;
   nyp = 33;
   nfp = 8;
   cliqueSize = 2;
   numAxonalArbors = 8712;
   initFromLastFlag = 0;  // 1;  // restart
   writeStep = -1;

   weightInitType = "UniformWeight";
   weightInit = 0.0;
   shrinkPatches = false;
   
   normalize = 0.0; // 
   symmetrizeWeights = 0;
   
   plasticityFlag = 1;
   keepKernelsSynchronized = false; // true; 
   combine_dW_with_W_flag = true; //false; // 
   writeCompressedWeights = 0.0;
   selfFlag = true;
   shmget_flag = false;
   stochasticReleaseFlag = false;
   weightUpdatePeriod = 1.0;

   delay = 1;    
};



StatsProbe "RetinaStatsFile" = {
    targetLayer = "Retina";
    probeOutputFile = "Retina_Stats.txt";
};

StatsProbe "L1StatsFile" = {
    targetLayer = "L1";
    probeOutputFile = "L1_Stats.txt";
};

StatsProbe "L1Pool1X1StatsFile" = {
    targetLayer = "L1Pool1X1";
    probeOutputFile = "L1Pool1X1_Stats.txt";
};

StatsProbe "L1CliqueStatsFile" = {
    targetLayer = "L1Clique";
    probeOutputFile = "L1Clique_Stats.txt";
};

StatsProbe "L2Pool2X2StatsFile" = {
    targetLayer = "L2Pool2X2";
    probeOutputFile = "L2Pool2X2_Stats.txt";
};

StatsProbe "L2PostStatsFile" = {
    targetLayer = "L2Post";
    probeOutputFile = "L2Post_Stats.txt";
};




