#define PV_VERSION_MAJOR @PV_VERSION_MAJOR@
#define PV_VERSION_MINOR @PV_VERSION_MINOR@

#define PV_DIR "@PV_DIR@"
#cmakedefine PV_USE_MPI
#cmakedefine PV_USE_OPENMP_THREADS
#cmakedefine PV_USE_CUDA
#cmakedefine PV_USE_CUDNN
#cmakedefine PV_USE_LUA
#cmakedefine PV_DEBUG_OUTPUT
