//
// params.cocirc
//  - input parameters for pv_cocirc.cpp
//  - initially, this case study examines how a one dimensional object (line segment) can
//    be synchronized
//

HyPerCol "column" = {
   dt = .5;
};

HyPerLayer "Image" = {
   marginWidth = 0;   
};

//
// Six layers, "Retina", "LGN", "LGN Inh", "V1", "V1 Inh", "V2"
//

HyPerLayer "Retina" = {
   marginWidth = 0;
};

HyPerLayer "L1" = {
   nxScale = 1;
   nyScale = 1;
};

//
// 1 connections, 
//    "Retina to L1"
//

HyPerConn "Retina to L1" = {
   nxp = 1;
   nyp = 1;
   strength = 24;
   
   spikingFlag = 0;
   
   aspect = 1;
   sigma  = 10;
   rMax   = 10;
};
